@{
    ViewBag.Title = "THE Movie List";
    ViewBag.Header = "This is the One and Only Joel Hilton Film Collection";
}

@model IEnumerable<baconsale.Models.MovieResponse>

<div>
    <table id="movies-table">
        <thead>
            <tr><th>Category</th><th>Title</th><th>Year</th><th>Director</th><th>Rating</th><th>Edited?</th><th>Lent To</th><th>Notes</th></tr>
        </thead>
        <tbody>
            @foreach (baconsale.Models.MovieResponse response in Model)
            {
            <tr>
                <td>@response.Category</td>&nbsp;&nbsp;
                <td>@response.Title</td>&nbsp;&nbsp;
                <td>@response.Year</td>&nbsp;&nbsp;
                <td>@response.Director</td>&nbsp;&nbsp;
                <td>@response.Rating</td>&nbsp;&nbsp;
                <td>@response.Edited</td>&nbsp;&nbsp;
                <td>@response.LentTo</td>&nbsp;&nbsp;
                <td>@response.Notes</td>&nbsp;&nbsp;
            </tr>
            }
        </tbody>
    </table>
</div>